@import "../custom";

.display-3 {
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    font-size: 1rem;
    &--title {
        font-size: 1.7rem;
        color: $primary;
        text-transform: capitalize;
        font-weight: 700;
        font-family: "Poppins", sans-serif;
        display: inline-block;
    }
    &--subtitle {
        font-size: 1.2rem;
        color: $gray-800;
        text-transform: capitalize;
        font-weight: 400;
        font-family: "Poppins", sans-serif;
        display: inline-block;
    }
}
.display-2 {
    text-transform: capitalize;
    margin-bottom: 1em;
    font-family: "Poppins", sans-serif;
}