$display-column: column;
$fourHundPixel: 400px;
$display-inline: inline-block;
$display-block : block;
$flexDispay: flex;
$font-family: sans-serif;
$background-Color: #BE263B;
$primaryColor: #fff;
$capitalize: capitalize;
$errorColor: red;
$noerrColor: green;
$threePx: 3px;
$signup-fontweight: bold;
$positionRelative: relative;
$positionAbsolute: absolute;
$box-shadowss: 2px 5px 20px rgba(0, 0, 0, 0.1);
$widthOnehundred: 100%;
$twentyPx: 20px;
$emPadding: 1.8em;
$texPixel: 10px;
$transition: 0.2s;
$solidRed-border: 1px solid red;
$solidGreen-border: 1px solid green;
$bolder-fontweight: bolder;
$oneRem: 1rem;
$repeat-x: repeat-x;
$EIGHTEN-px: 18px;
$thirtytwo-pixel: 32px;
$leftAlign: left;
$tabledisplay: table;
$tableCell: table-cell;
$fortyPixel: 40px;
$three-nine-fife-Pixel: 395px;
$twelvePxx: 12px;
$negtwelvePxx: -12px;
$eightPixel: 8px;
$bordBox: border-box;
$whiteBackgroundColor: #ffffff;
$Auto: auto;
$margin10: 10px;
$rem: 1.8rem;
$marign28: 28px;
$seventyneg: -75px;
$fiftyneg: -50px;
$negSixtenPx: -16px;
$zeroValue: 0;
$fontweight: 500;
$textcontentitemalign: center;
$display: inline-flex;
$gap: 5px;
$valerr: #ff0000;
$valnoerr: #00ff00;
$whiteStroke: white;
$solid: solid;
$bordernon: none;
$bg: #1b2431;
$light-text: #738297;
$dark-text: #273142;
$light-bg: #313D4F;
$creame-white: #cccccc;
$gray-color: gray;
$light-white: #f2f8f9;
$light-green: #00838d;
$absolute-black: black;
$onePixel: 1px;