<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <span class="display-3--title ems" style="cursor: pointer;"> EMS </span>
        <button class="navbar-toggler"routerLink="/dashboard" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
          </span>
        </button>
      
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav ">
            <li class="nav-item active">
              <button  (click)="logout()" type="button" class="btn btn-labeled text-white logout-btn">
                <span class="btn-label"><i class="fa fa-sign-out"></i></span>
              Log Out
              </button>
            </li>
          
          </ul>
        </div>
    </div>
  
  </nav>

