@import "../../../../../scss/components/button";

.btn-label {
  position: $positionRelative;
  left: $negtwelvePxx;
  display: $display-inline;
  padding: 6px $twelvePxx;
  background: rgba(0, 0, 0, 0.15);
  border-radius: $threePx $zeroValue $zeroValue $threePx;
}
.btn-labeled {
  padding-top: $zeroValue;
  padding-bottom: $zeroValue;
}
.logout-btn {
  margin-bottom: $margin10;
  background-color: #b0cece;
}

.logout-btn:hover,
.logout-btn:active,
.logout-btn:focus,
.logout-btn:visited {
  background-color:  $cadet-blue;
}
