@import "../custom";
@import "../components/variables";

.emailerror {
    color: $errorColor;
}
.passworderror {
    color: $errorColor;
}

.email-input i{
    padding: 8px 16px;
    color: #0cd6a8;
}
.mateye {
    position: $positionAbsolute;
    left: $zeroValue;
    color: #aaa;
    transition: $transition;
    margin-top: 0.8em;
}

.disabled {
    opacity: 0.5;
    pointer-events: auto !important;
    cursor: not-allowed !important;
  }

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}