<div class="d-flex flex-column flex-lg-row h-lg-full mt-4 container">
    <!-- Main content -->
    <div class="h-screen flex-grow-1 overflow-y-lg-auto container mt-4">
        <main class="py-6">
            <div class="container-fluid">
                <!-- Card stats  -->
                <div class="row g-6 mb-4">
                    <div class="col-xl-3 col-sm-6 col-12"> 
                      <div class="card card-hover shadow border-0  bg-surface-secondary">
                        <div class="card-content">
                          <div class="card-body">
                            <div class="media d-flex">
                              <div class="align-self-center">
                                <i class="fas fa-user primary font-large-2 float-left"></i>
                              </div>
                              <div class="media-body text-right">
                                <h3>{{totalUsers}}</h3>
                                <span>Total Users</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card card-hover shadow border-0  bg-surface-secondary">
                        <div class="card-content">
                          <div class="card-body">
                            <div class="media d-flex">
                              <div class="align-self-center">
                                <i class="fas fa-clock warning font-large-2 float-left"></i>
                              </div>
                              <div class="media-body text-right">
                                <h3>{{averageWorkinghours}}</h3>
                                <span>Average Working Hours</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card card-hover shadow border-0  bg-surface-secondary">
                        <div class="card-content">
                          <div class="card-body">
                            <div class="media d-flex">
                              <div class="align-self-center">
                                <i class="fas fa-dollar-sign success font-large-2 float-left"></i>
                              </div>
                              <div class="media-body text-right">
                                <h3>{{averageSalary | currency:'USD'}} k</h3>
                                <span>Average Salary</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card card-hover shadow border-0  bg-surface-secondary">
                        <div class="card-content">
                          <div class="card-body">
                            <div class="media d-flex">
                              <div class="align-self-center">
                                <i class="fas fa-users danger font-large-2 float-left"></i>
                              </div>
                              <div class="media-body text-right">
                                <h3>{{totalEmployee}}</h3>
                                <span>Total Employee</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
        
                <div class="app-main__outer mt-4">
                    <div class="app-main__inner">
                      <div class="row">
                        <div class="col-md-12 col-lg-6">
                          <div class="mb-3 card dash-card-hover">
                            <div
                              class="card-header-tab card-header-tab-animation card-header"
                            >
                              <div class="card-header-title">
                                <i
                                  class="header-icon lnr-apartment icon-gradient bg-love-kiss"
                                >
                                </i>
                                Work Report in hours
                              </div>
                            </div>
                            <div class="card-body">
                              <div class="tab-content">
                                <app-pie-chart (workingHours) = "averageWorkinghours = $event"></app-pie-chart>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                          <div class="mb-3 card dash-card-hover">
                            <div class="card-header-tab card-header">
                              <div class="card-header-title">
                                <i
                                  class="header-icon lnr-rocket icon-gradient bg-tempting-azure"
                                >
                                </i>
                                Employee Salary Report
                              </div>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                  <app-bar-chart (salaryEvent)="averageSalary = $event" (employeeEvent)="totalEmployee =$event"></app-bar-chart>
                                 <!-- <app-line-chart></app-line-chart> -->
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                 
                    </div>
                   
                  </div>
            </div>
        </main>
    </div>
</div>